body{
    background-color: #E5E5E5;
}

.confirm-order{
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.9);

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    z-index: 2;

    visibility: hidden;
}

.confirm-order-content{
    width: 90%;
    height: 353px;

    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.confirm-order-items{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 100%;

    color: #FFFFFF;
    
    line-height: 35px;
    letter-spacing: 0.018em;
}

.confirm-order-title{
    font-size: 22px;
    line-height: 26px;

    color: #FFFFFF;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

    margin-top: 20px;
}

.confirm-order-items-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.confirm-order-items-value{
    text-align: right;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.confirm-order-buttons{
    display: flex;
    flex-direction: column;

    width: 80%;
}

.confirm-order-first-button, 
.confirm-order-second-button{
    border-radius: 100px;
    height: 52px;

    border: none;

    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.confirm-order-first-button{
    color: #50D074;

    background-color: #FFFFFF;
}

.confirm-order-second-button{
    color: #FFFFFF;

    background-color: #50D074;  
}

.header{
    height: 92px;

    background-color: #CF2B2B;
    color: #FFFFFF;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1;
}

.header-content{
    width: 90%;
}

.band-title{
    font-family: Righteous;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    line-height: 55px;

    color: #FFFFFF;
}

.brand-subtitle{
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.container{
    width: 100%;

    display: flex;
    justify-content: center;
}

.content{
    margin-top: 105px;

    width: 90%;
}

.row-products{
    margin-bottom: 27px;;
}

.row-content{
    display: flex;

    overflow-x: scroll;

    margin-top: 17px;
}

.row-title{
    font-family: Righteous;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;

    color: #333333;
}

.card-product{
    margin-right: 16px;

    border-radius: 9px;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.card-product-content{
    width: 172px;

    margin-top: 18px;
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-product-img{
    height: 87px;
    width: 144px;
    border-radius: 4px;
}

.card-product-content-text{
    width: 144px;

    margin-top: 8px;
}

.card-product-title{
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    margin-top: 5px;

    color: #333333;
}

.card-product-description{
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    margin-top: 5px;

    color: #A6A6A6;
}

.card-product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 5px;
}

.checkmark-circle{
    font-size: 20px;

    color: #32B72F;

    display: none;
}

.visible{
    display: initial;
}

.card-product-price{
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.bottom-bar{
    height: 92px;

    background-color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn-bottom-bar{
    width: 90%;
    height: 61px;

    padding: 0 60px;

    background-color: #CBCBCB;
    border-radius: 50px;
    border: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}

.btn-bottom-bar-custom{
    background-color: #32B72F;
}

.mb-27{
    margin-bottom: 115px;
}

.bold{
    font-weight: bold;
}

.visibility{
    visibility: initial;
}

.selected{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

@media(max-width: 600px){
    .row-content::-webkit-scrollbar{
        display: none;
    }
}